<div class="row">

  <div style="background: #f6f4f4" class="list-group-item clearfix">
    <h2></h2>
    <div class="pull-left">
      <img
        src=""
        alt=""
        class="img-responsive"
        style="max-height: 100px;">
    </div>
    <div class="pull-right btn-toolbar">
      <button class="btn btn-primary">Edit</button>
      <button class="btn btn-danger">Delete</button>
    </div>
  </div>

  <div class="list-group-item clearfix">
    <p class="list-group-item-text">Email: </p>
    <p class="list-group-item-text">Phone: </p>
  </div>

</div>


