<div class="row">

  <div style="background: #f6f4f4" class="list-group-item clearfix">
    <h2>{{contact.name}}</h2>
    <div class="pull-left">
      <img
        src="{{contact?.imageUrl}}"
        alt="{{contact?.name}}"
        class="img-responsive"
        style="max-height: 150px;">
    </div>
    <div class="pull-right btn-toolbar" style="margin-top: 50px;">
      <button class="btn btn-primary">Edit</button>
      <button class="btn btn-danger">Delete</button>
    </div>
  </div>

  <div class="list-group-item clearfix">
    <p class="list-group-item-text">Email: {{contact.email}}</p>
    <p class="list-group-item-text">Phone: {{contact.phone}}</p>
  </div>

</div>


